extends layout

block content
  h4 I wrote these things!
  div
    a(href="https://docs.google.com/document/d/1c1AWOJsCnsITxz3-i-Sn1_298WCZ3N8djta_awSDu3Y/edit?usp=sharing") What is Popular Philosophy

    p The problem with this essay is that I'm falsely attributing an identity to myself for the sake of my ego.  I want to be a "pop philosopher", but not by being Bertrand Russell's herald.  What I really want is to expose people to the things that I think about in the most direct way possible, and I don't need to write an essay to explain that, I could just do it instead.  

    a(href="liars") Why I'm doing this

    p This paints a better picture of my thinking behind my actions on this website, but I think it says something that I’m spending so much time trying to identify what I’m doing.  I can’t really come to terms with it, and understandably so, because the underlying message behind both essays is that I can’t justify my actions but I am willing to lie to myself and others in order to do it.  And yet it still seems valuable? I don’t know.  

    p Also, I’m not sure how I feel yet about this writing style.  I feel like it’s easier to follow, and I’m a fan of how short it is, but I’m worried that it’d be hard to get respect from intellectual circles.  Maybe that’s because I’m thinking about academic philosophy so much.  I feel like ideas should speak for themselves though?  But not if I'm trying to be accessible to everyone.  I need to think more about this.  



