extends layout

block content
  h4 I wrote these things!
  div
    a(href="https://docs.google.com/document/d/1c1AWOJsCnsITxz3-i-Sn1_298WCZ3N8djta_awSDu3Y/edit?usp=sharing") Pop Philosophy

    p I have multiple issues with this essay.  

    p The first and most pressing issue is the one that I state in the last paragraph.  I can’t actually find a point to anything I’m doing! I’m trying to remove people from one ideology into another, and it’s not like acknowledging that doesn’t really make it any better.  I can’t justify any of my actions, on any level, which makes the fact that I sort of “attack” the view of institutionalized philosophy seem kind of trite.     

    p Aside from that it doesn’t really say anything meaningful at all.  I wanted this to basically be an elevator pitch for a conception of me as someone that produces stuff of this nature, which I didn’t really succeed at.  This essay doesn’t really seem to say anything poignant enough to justify its existence.  

    p Also, essays are a lame medium in 2014.  If I’m trying not to exclude anyone from my art or ideas, then I need to think outside of the box a little bit more about mediums that are less boring.  
