extends layout

block content
  h4 I wrote these things!
  div
    a(href="https://docs.google.com/document/d/1c1AWOJsCnsITxz3-i-Sn1_298WCZ3N8djta_awSDu3Y/edit?usp=sharing") Pop Philosophy

    p The problem with this essay is that I'm falsely attributing an identity to myself for the sake of my ego.  I want to be a "pop philosopher", but not by being Bertrand Russell's herald.  What I really want is to expose people to the things that I think about in the most direct way possible, and I don't need to write an essay to explain that, I could just do it instead.  

