extends layout

block content
  h1 I am Tyler
  h2 Welcome
  p I am basically always wrong, which is a lot of fun.
  p
    | I like the web, and I'm interested in 
    a(href="legislation") digital legislation
    |  and digital education.  I think these things are really important and deserve a lot more attention.
  p I spend my free time trying to make internet friends.

  div
    a(href="projects") projects
  div
    a(href="https://github.com/prudentbot") github
  div
    a(href="https://twitter.com/dogsled_octave") twitter
  div
    a(href="mailto:tylsmith@gmail.com") email
  div
    a(href="https://www.linkedin.com/pub/tyler-smith/58/101/734") linkedin
  div
    a(href="images/resume.pdf") résumé
