extends layout

block content
  h1= title
  h2 Welcome
  p I am always wrong, which is a lot of fun.  I can't help but wonder if I'm the kind of person that would build a website for himself.  If I consider the ramifications of that idea too much, I'm going to get distracted.

  p I want to use 21st century mediums to get people to think.  

  p Also, I love you.

  div
    a(href="projects") projects
  div
    a(href="essays") essays
  div 
    a(href="https://github.com/prudentbot") github
  div
    a(href="https://twitter.com/dogsled_octave") twitter
  div 
    a(href="mailto:tylsmith@gmail.com") email
