extends layout

block content
  h1= title
  h2 Welcome
  p I am always wrong, which is a lot of fun.  I can't help but wonder if I'm going to grow to become someone that would never build a website for himself.  If I consider the ramifications of this idea too much, I'm going to get distracted.

  p Also, I love you.

  div
    a(href="projects") projects
  div 
    a(href="https://github.com/prudentbot") github
  div
    a(href="https://twitter.com/dogsled_octave") twitter
  div 
    a(href="mailto:tylsmith@gmail.com") email
