extends layout

block content
  h2 The liars paradox AKA why I'm doing this
  div
    div(style="white-space: pre-wrap").
      So what does the fact that I am willing to devote an entire website to my ideas say about my character?

      I don’t think that my thoughts are correct.  It’s not like I have some sort of truth that needs to be shared with the world.  

      However, when I look at history, I see a lot of people who were wrong, and I think that I have that wrongness in common with them.  Yet people took them to be correct and do interesting things with that new “knowledge”.  It influenced them, and they saw value in that influence.  

      I don’t ascribe value to inspiring people to act.  Action itself can be good or bad (which are subjective concepts to boot), so I can’t say that it is “good” to inspire people. 

      But I spend a lot of conscious time struggling to come to terms with what I am experiencing, and when I interact with people, I find that being exposed to my struggle gets them to think.  

      Since I must make myself valuable to society in some way in order to be a part of it, I might as well strive to make that usefulness conform as closely as possible to who I am as a person.  If I can be valuable just by being myself, then that seems like the best outcome for me.  

      But how can I say that I am wrong and yet continue to expound my ideas?  By thinking that I am wrong, I am automatically a liar by the nature of paradox.  It’s an enigma, and probably always will be.  All I can hope for is that my struggle with the concept, and others, is in some way entertaining enough to sustain my existence.  






