extends layout

block content
  h4 Here is some stuff that I made.
  div
    a(href="http://www.youtube.com/watch?v=BJu3A2S4Ttk") "Howl" by Allen Ginsberg read by 
        em say
  div
    a(href="truths") List of things that are true, by Bertrand Russell
