extends layout

block content

  div
    div
      p
        em I wrote a script that searches through large bodies of text and finds sentences that start with "it is true that".  Here's the result when I fed it into all the Bertrand Russell books that I could find for free on the internet.

      p
        em The reason I like this is because I think that formal philosophy, which was influenced to a large extent by Bertrand Russell (at least from my experience), has a pretentiousness that is cutely reflected in taking these “truths” out of context. 

      p
        em This isn't meant as a sleight against Bertrand Russell, in fact, I think that would be pretty silly since it maybe requires an even more profound form of pretentiousness to create this analysis.  

    a(href="https://gist.github.com/prudentbot/3bd79c76b357b22892c1#file-gistfile1-txt") 
      em Here is the source code

  p It is true that physical courage, especially in war, is expected of men, but other forms of courage are not expected of them, and no form of courage is expected of women.

  p It is true that there are in history cases of unrecognized merit, but they are far less numerous than the cases of recognized demerit.

  p It is true that the work of the peasant who cultivates his own land is varied; he ploughs, he sows, he reaps.

  p It is true that many of us are too "superior" for these simple pleasures.

  p It is true that some parents feel little or no parental affection, and it is also true that some women are capable of feeling an affection for children not their own almost as strong as that which they could feel for their own.

  p It is true that he gave no reason why the world should originally have been as it was; this, perhaps, might have been attributed to chance*.

  p It is true that Galileo used dia- logues to advocate his theories, but that was only in order to overcome prejudice the positive grounds for his discoveries could not be inserted in a dialogue without great artificiality.

  p It is true that two letters a and b occur, but we do not need to know that they are two, any more than we need to know that they are black, or white, or whatever colour they may happen to be.

  p It is true that my reason may be some one else's assertion, but that may be a perfectly adequate reason for instance, if I am a judge listening to evidence.

  p It is true that a great deal of his practical ethics is not particularly philosophical, but merely the result of observation of human affairs ; but this part of his doctrine, though it may be independent of his metaphysics, is not inconsistent with it.

  p It is true that, for the problems with which this book deals, it makes no difference which theory is adopted, and he may therefore have thought it unwise to burden his cal- culations with an unnecessary opposition to the general opinion of astronomers ; or he may have only arrived at the Copernican hypothesis after writing this book.

  p It is true that these merits were offset by fanaticism and superstition, but without these no reforming movement could, at that time, have succeeded.

  p It is true that God has foreknowledge of our sins, but we do not sin because of His foreknowledge.

  p It is true that, at one time, he identified the Holy Ghost with the Platonic Soul of the World, but he abandoned this view as soon as its heretical character was pointed out to him.

  p It is true that power, often, depends upon opinion, and opinion upon propaganda; it is true, also, that it is an advantage in propaganda to seem more virtuous than your adversary, and that one way of seeming virtuous is to be virtuou.

  p It is true that the conservation of energy is a law dealing with velocities, not accelerations.

  p It is true that Harvey did not publish his discover}' of the circulation of the blood until after Bacon's death, but one would have supposed that Bacon would have been aware of his researches.

  p It is true that his letters to Arnauld, which contain a part of his more profound philosophy, were published in the nineteenth century; but I was the first to notice their importance.

  p It is true that they are robbed of precision and logical form ; this is supposed to excuse them, and to permit the worthy Vicar to say that he cares nothing for the wisdom of the philosophers.

  p It is true that, in a later chapter, there is some softening of this theory.

  p It is true that, like Locke, he admitted no simple idea without an antecedent impression, and no doubt he imagined an "impression" as a state of mind directly caused by something external to the mind.

  p It is true that, three chapters further on, he gives the emphatic command: "Close thy Byron; open thy Goethe.

  p It is true that, as a result of the social revolution, the division of classes is expected ultimately to dis- appear, giving place to complete political and economic harmony.

  p It is true that the explanation was sometimes a little odd.

  p It is true that if we ever did stop to think about the cosmos we might find it uncomfortable.

  p It is true that officials are usually subject to control, but the control may be slow and distant.

  p It is true that we do not always spend our surplus of labor wisely.

  p It is true that we can make changes on or near the surface of the earth, but not elsewhere.

  p It is true that they make thepreservation of individuality more difficult, but what is needed is away of combining them with the greatest possible scope for individualinitiative.

  p It is true that my body demands periods of rest, which I have to fill in as best I may, but I am never so happy as when the morning comes and I can return to the toil from which my contentment springs.

  p It is true that, conversely, a function can be apprehended without * "When the word " function " is used in the sequel, "propositional function " is always meant.

  p It is true that the table always gives us a sensation of hardness, and we feel that it resists pressure.

  p It is true that, when the physical world is assumed, it is possible to find physical causes for the sense-data in dreams: a door banging, for instance, may cause us to dream of a naval engagement.

  p It is true that, if theoretical importance is included, everything real is of some importance to us, since, as persons desirous of knowing the truth about the universe, we have some interest in everything that the universe contains.

  p It is true that we have a greater body of evidence from the past in favour of the laws of motion than we have in favour of the sunrise, because the sunrise is merely a particular case of fulfilment of the laws of motion, and there are countless other particular cases.

  p It is true that this possibility, formally, is inconsistent with the Kantian view that time itself is a form imposed by the subject upon phenomena, so that our real Self is not in time and has no to-morrow.

  p It is true that if physiology can prove, assuming the general laws that govern living bodies, that no living organism can last for ever, that gives a connexion between man and mortality which would enable us to assert our proposition without appealing to the special evidence of men dying.

  p It is true that there is such a patch, true that it has a certain shape and degree of brightness, true that it is surrounded by certain other colours.

  p It is true that this is partly accounted for by the fact that, as soon as definite knowledge concerning any subject becomes possible, this subject ceases to be called philosophy, and becomes a separate science.
